*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*.php
/node_modules
/public/build
/public/hot
/public/storage
/tmp
/storage/app/*
!/storage/app/.gitignore
!/storage/app/private/
/storage/app/private/*
!/storage/app/private/.gitignore
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/cache/
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/
!/storage/framework/cache/data/.gitignore
!/storage/framework/sessions/
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/
!/storage/framework/testing/.gitignore
!/storage/framework/views/
!/storage/framework/views/.gitignore
!/storage/framework/views_runtime/
!/storage/framework/views_runtime/.gitignore
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/framework/views_runtime/*
/storage/backups/*.sql
/storage/logs/*
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
